{% extends 'blog/base.html' %}
{%block content%}
{% load blog_extras %}
<div class = "cat-heading"> Category : {{cat}}</div><br/>
{% for post in posts %}
      <div class ="post short col-xs-4">
        <h1 class="post-title"> <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>

              <span class ="author">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <strong> {{post.author}}</strong>
              </span>

                {% for category in post.categories.all %}
                  <span class="category"><a href="{% url 'category_posts' category %}"> {{category}}</a></span>
                {%endfor %}
              </p>
              <hr>
        <p class = "texts">{{ post.text|parseme:"100"|linebreaksbr }}</p>
        <p>{% if post.published_date %}
           <span class="date">
             <i class="fa fa-clock-o"></i>
             {{post.published_date}}
           </span>
           {% endif %}
         </p>
      </div>
{%endfor%}

{%endblock%}
