{% extends 'blog/base.html' %}
{% load blog_extras %}
{%block content%}


      <div class="post-detail">
        <h1> <a class="post-title" href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h1>
        {% if post.published_date %}
           <div class="date details">
             <i class="fa fa-clock-o"></i>
             {{post.published_date}}
           </div>
           {% endif %}
            <br>
             <span class ="author">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <strong> {{post.author}}</strong>
              </span>

              {% for category in post.categories.all %}
                <span class="category"><a href="{% url 'category_posts' category|replacespace %}"> {{category}}</a></span>
              {%endfor %}

            <hr>


        <p class = "detail texts">{{ post.text|safe }} </p>
        {% ifnotequal "" prev %}
        <a class ="postlink link-left" href="{{prev}}">
        <i class="fa fa-angle-left"></i></a>
        {% endifnotequal %}
        {% ifnotequal "" next %}
        <a class="postlink link-right" href="{{next}}">
        <i class="fa fa-angle-right"></i></a>

        {% endifnotequal %}
      </div>



{%endblock%}
