{% extends 'blog/base.html' %}
{% load blog_extras %}
{%block content%}
{% if not posts %}
<p> Head over to the <a id="admintag" href="/admin">/admin</a> page and add a post to see it here!</p>
{% endif%}
<!--<p> Head over to the <a id="admintag" href="/admin">/admin</a> page and add a post to see it here!</p>-->
{% for post in posts %}
      <div class ="post col-xs-4">
        <h1> <a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
          <p>{% if post.published_date %}
             <span class="date">
               published : {{post.published_date}}
             </span>
             {% endif %}
              <br/><span class ="author">by:<strong> {{post.author}}</strong></span>

                {% for category in post.categories.all %}
                  <span class="category"><a href="{% url 'category_posts' category %}"> {{category}}</a></span>
                {%endfor %}
              </p>
        <p>{{ post.text|parseme:"100"|linebreaksbr }}</p>
      </div>
{%endfor%}

{%endblock%}
